* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body {
    background-color: rgba(156, 54, 235, 0.995);
}

.container {
    background-color: whitesmoke;
    width: 500px;
    max-width: 700px;
    padding: 40px 35px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 11px;
    border: black 3px solid;
    box-shadow: 9px 11px rgba(48, 1, 82, 0.995);
}

.search-wrapper {
    display: grid;
    grid-template-columns: 300px 100px;
    gap: 15px;
}

.search-wrapper button {
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.995);
    color: black;
    padding: 0.5em 0em;
    border: 5px double rgba(156, 54, 235, 0.995);
    border-radius: 6px;
}

.search-wrapper input {
    font-size: 17px;
    background-color: whitesmoke;
    padding: 0 8px;
    border: 5px double rgba(156, 54, 235, 0.995);
    border-radius: 6px;
    /* border-bottom: 2px solid blueviolet; */
    color: rgba(156, 54, 235, 0.995);
}

#result {
    margin-top: 35px;
}

.container .flag-img {
    object-fit: fit;
    display: block;
    border: 5px double rgba(156, 54, 235, 0.995);
    width: 68%;
    min-width: 7.6em;
    margin: 1.9em auto 1.2em auto;
    border-radius: 5px;

}

.container h2 {
    font-weight: 500px;
    text-align: center;
}

.container h4 {
    font-weight: 1000;
    display: inline;
    color: rgb(32, 2, 2);
    text-align: left;
}

.container span {
    font-family: 'Work Sans', monospace;
    color: rgba(48, 1, 82, 0.995);
    text-align: left;
}

.container h3 {
    font-family: 'Work Sans', monospace;
    text-align: left;
}